table.tablesorter thead tr th { 
    background-image: url(images/bg.png); 
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: right center;
}

table.tablesorter thead tr th{    border: none; 
background:#EEEEEE;}

table.tablesorter thead tr .tablesorter-headerAsc { 
    background-image: url(images/asc.png); 
}

table.tablesorter thead tr .tablesorter-headerDesc { 
    background-image: url(images/desc.png);
}

table.tablesorter thead tr .sortless{background-image:none; cursor: default;}